<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ForumConnectionString" connectionString="Data Source=WIN-N4LTN1FOFQH\SQLEXPRESS;Initial Catalog=Forum;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <connectStrings>
    <remove name="LocalServer"/>
    <add name="LocalServer" connectString="Data Source=.\SQLEXPRESS;       Initial Catalog=BBS; Intergrated Security=True" providerName="System.Data.sqlClient"/>
  </connectStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>